language: java
script: mvn clean install test -DargLine-"-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=4444 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
before_install:
  - cd subprojects/playpens/java-playpen
  - mvn clean
jdk:
  - oraclejdk8
