language: java
script: mvn clean install test -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=jmxPort -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false 
before_install:
  - cd subprojects/playpens/java-playpen
  - mvn clean
jdk:
  - oraclejdk8
